html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    text-align: center;
}

header {
    flex: 0 40px;
    display: flex;
    flex-direction: column;
}

header div {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

header span {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header hr {
    margin-top: 0;
    margin-bottom: 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.brand {
    margin-top: 10px;
}

.brand h1 {
    margin-top: 5px;
}

#settings-gear {
    margin-top: 18px;
}

hr.solid {
    border-top: 3px solid;
}



.subtitle {
    margin-top: 20px;
    margin-bottom: 30px;
}

main hr {
    margin-top: 0;
    margin-bottom: 10px;
    width: 97%;
    max-width: 800px;         
}

#create-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#fields {
    flex: 1;
    max-width: 700px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.icons-avail {
    filter: invert(1);
    width: 40px;
    height: 40px;
    margin: 10px;
}

.form-section {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: 20px 0;
    align-items: center;
}

.form-section label {
    flex: 0 10em;
}

.form-section input {
    flex: 1;
}

field {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

field img {
    margin-right: 2em;
}

field svg {
    margin-right: 0.5em;
}

#members-label {
    align-self: start;
}

#member-select {
    margin-top: 5px;
}

.members button {
    margin-top: 30px;
}

.invite-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.invite-form input {
    max-width: 300px;
}

#btn-new-proj {
    margin-top: 30px;
}




.btn-primary {
    background-color: green !important;
    border: green !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: green !important;
}

.brand-link {
    color: white !important;
    text-decoration: none;
}

.brand-link:hover {
    color: green !important;
}

.link-std {
    color: green !important;
    text-decoration: none !important;
}

.link-std:hover {
    color: white !important;
}

#logo {
    width: 80px;
    height: 44px;
    margin-right: 20px;
}

@media (max-height: 570px) {
    footer {
        display: none;
    }
}