@font-face {
    font-family: "AlbulaProBold";
    src: url('assets/fonts/AlbulaProBold/font.woff2') format('woff2'), url('assets/fonts/AlbulaProBold/font.woff') format('woff');
}

:root {
    --del-green: #00ba00;
    --del-gray: #2f343a
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-family: AlbulaProBold;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    flex: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.log-reg-container {
    height: 450px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
    border-radius: 15px;
    max-width: 350px;
    background-color: var(--del-gray);
}

.subtitle {
    flex: 0 30px;
    top: 20px;
}

.log-reg-info {
    flex: 1 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-reg-info p {
    max-width: 240px;
    text-align: justify;
}

input {
    margin: .5em .5em 0 .5em !important;
    min-width: 250px;
    max-width: 300px;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgot {
    text-align: right !important;
    align-self: stretch !important;
    margin-top: 3px;
}

.log-reg-btn {
    flex: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    bottom: 20px;
}

.btn-primary {
    background-color: var(--del-green) !important;
    border: var(--del-green) !important;
    color: var(--bs-dark) !important;
}

.btn-primary:hover {
    background-color: var(--bs-dark) !important;
    color: var(--del-green) !important;
    border: 1px solid var(--bs-light) !important;
    padding: 5px 11px;
}

.link-std {
    color: var(--del-green) !important;
    text-decoration: none !important;
}

.link-std:hover {
    color: var(--bs-light) !important;
}

#logo {
    height: 2em;
}

@media (max-height: 570px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex-grow: 1;
    }
}